body {
    background-color: #212529;
    color: #fff;
    font-family: 'Poppins', sans-serif;
      
      
}

.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

.test-title {
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: bold;
}

.test-description {
    margin-top: 20px;
    font-size: 1.2rem;
}

.img-container {
    position: relative;
    margin-top: 30px;
    text-align: center;
}


.bottom-left-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px; /* измените ширину и высоту в соответствии с вашими нуждами */
  }
  
  .bottom-right-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px; /* измените ширину и высоту в соответствии с вашими нуждами */
  }
  
 

.test-image {
    max-width: 300px;
    height: auto;
}

.start-test-btn {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1.2rem;
}

.category-box {
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.category-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.category-box-active {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: 800;
    color: green;
}

.block-container {
    background-color: #343a40;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.block-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.block-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.form-check-label {
    color: #868e96;
}

.form-check-input:checked + .form-check-label {
    color: #fff;
}

.next-btn {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1.2rem;
}


.description-container {
    max-width: 800px;
    margin: 0 auto;
}

.test-description {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}


.block-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.block-title {
    margin-bottom: 10px;
}

.block-subtitle {
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 10px;
}


.row {
    flex-wrap: nowrap;
    display: flex;
  }


  .screen #screen8 img {
    max-width: 100%;
    width: 500px;
  }